.singleProposal {
  flex: 9;
  margin-top: 10px;
}

.singleProposalWrapper {
  padding: 20px;
  padding-right: 0;
  display: flex;
}

.singleProposalImg {
  padding: auto;
  margin-right: 10px;
}

.singleProposalTitle {
  text-align: center;
  margin: 10px;
  font-size: 28px;
  font-family: "Lora", sans-serif;
}

.singleProposalText {
  color: #666;
  font-size: 18px;
  line-height: 25px;
}

.singleProposalText::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}
